body {
  font-family: "Helvetica Neue", Helvetica, Arial, "MS Trebuchet", sans-serif;
}

.chart {
  padding: 1em;
}

data {
  display: block;
  background: #eee;
}

th {
  font-weight: 300;
}

td {
  margin: 0;
  padding: 0 10px;
  width: 100px;
  vertical-align: bottom;
  text-indent: -999em;
}

.comparison td:first-of-type data {
  color:      #ff0000;
  background: #ff0000;
}

.comparison td:last-of-type data {
  color:      #00ff00;
  background: #00ff00;
}
